Package: me.conorthedev.mitsuhaforever
Name: Mitsuha Forever
Depends: mobilesubstrate, org.thebigboss.libcolorpicker (>= 1.6.6), me.conorthedev.audiosnapshotserver, ws.hbang.common (>= 1.11), me.conorthedev.libmitsuha (>= 0.2.0), me.conorthedev.libconorthedev, firmware (>=11.0)
Conflicts: io.c0ldra1n.mitsuha, io.c0ldra1n.mitsuha-beta, io.ominousness.mitsuhaxi, me.nepeta.mitsuhainfinity, me.nepeta.mitsuhainfinity-lockscreen
Version: 1.0
Architecture: iphoneos-arm
Description: Universal audio visualizer for iOS
Maintainer: ConorTheDev <con0r.b@protonmail.com>
Author: ConorTheDev <con0r.b@protonmail.com>, c0ldra1n, Nepeta
Section: Tweaks
Depiction: https://conorthedev.github.io/repo/depictions/?p=mitsuhaforever
SileoDepiction: https://conorthedev.github.io/repo/sileodepictions/me.conorthedev.mitsuhaforever