Package: com.ryannair05.mitsuhaforever
Name: Mitsuha Forever
Depends: mobilesubstrate, preferenceloader, com.ryannair05.audiosnapshotserver, com.ryannair05.libmitsuhaforever, ws.hbang.common, firmware (>=11.0)
Replaces: io.c0ldra1n.mitsuha, io.c0ldra1n.mitsuha-beta, io.ominousness.mitsuhaxi, me.nepeta.mitsuhainfinity, me.nepeta.mitsuhainfinity-lockscreen
Version: 1.3
Architecture: iphoneos-arm
Description: Universal audio visualizer for iOS, updated for iOS 13 with new features and bug fixes
Maintainer: Ryan Nair
Author: Ryan Nair, ConorTheDev, and Nepeta
Section: Tweaks