<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>%APP_NAME%</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>label</key>
			<string>FFT (frequency instead of amplitude)</string>
			<key>key</key>
			<string>EnableFFT</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>label</key>
			<string>Automatically hide the visualizer</string>
			<key>key</key>
			<string>EnableAutoHide</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Style</string>
			<key>isStaticText</key>
			<true/>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>Style</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Wave</string>
				<string>Bar</string>
				<string>Line</string>
				<string>Dot</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Number of points</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Number of points</string>
			<key>default</key>
			<integer>8</integer>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>NumberOfPoints</string>
			<key>min</key>
			<integer>4</integer>
			<key>max</key>
			<integer>32</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bar</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Bar spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Bar spacing</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>BarSpacing</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Bar corner radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Bar corner radius</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>BarCornerRadius</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Line</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Line thickness</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Line thickness</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>LineThickness</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color</string>
			<key>isStaticText</key>
			<true/>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>ColorMode</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Dynamic - old</string>
				<string>Dynamic - new</string>
				<string>Custom</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Dynamic color alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Dynamic color alpha</string>
			<key>default</key>
			<real>0.6</real>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>DynamicColorAlpha</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>me.nepeta.mitsuhainfinity.colors</string>
				<key>key</key>
				<string>WaveColor</string>
				<key>fallback</key>
				<string>#000000:0.5</string>
				<key>alpha</key>
				<true/>
				<key>PostNotification</key>
				<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
			</dict>
			<key>label</key>
			<string>Wave color</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
			<key>isStaticText</key>
			<true/>
            <key>id</key>
            <string>otherSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Wave offset (top)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Wave offset (top)</string>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>WaveOffset</string>
			<key>min</key>
			<real>-150</real>
			<key>max</key>
			<real>150</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Visualizer speed/frames per second</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Visualizer speed/frames per second</string>
			<key>default</key>
			<real>24</real>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>Fps</string>
			<key>min</key>
			<real>5</real>
			<key>max</key>
			<real>240</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Sensitivity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Sensitivity</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>key</key>
			<string>Sensitivity</string>
			<key>min</key>
			<real>0.25</real>
			<key>max</key>
			<real>4</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.mitsuhainfinity</string>
			<key>label</key>
			<string>Disable battery saver</string>
			<key>key</key>
			<string>DisableBatterySaver</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.mitsuhainfinity/ReloadPrefs</string>
		</dict>
		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Mitsuha Infinity</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Mitsuha, Mitsuha2 by c0ldra1n,$
ported to iOS 11 by Nepeta.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>