<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
    		<key>cell</key>
    		<string>PSDefaultCell</string>
    		<key>cellClass</key>
    		<string>CTDHeaderCell</string>
    		<key>title</key>
    		<string>Mitsuha Forever</string>
			<key>subtitle</key>
    		<string>by ConorTheDev</string>
			<key>iconPath</key>
    		<string>/Library/PreferenceBundles/MitsuhaForeverPrefs.bundle/icon_83.5@2x.png</string>
			<key>height</key>
			<real>150</real>
		</dict>
		<!--<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Nepeta</string>
			<key>user</key>
			<string>NepetaDev</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Conor</string>
			<key>user</key>
			<string>ConorTheDev</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Supported applications</string>
			<key>isStaticText</key>
			<true/>
            <key>id</key>
            <string>apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>AirPods (2 / Pro) Compatability</string>
			<key>detail</key>
			<string>MSHFAirPodsController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>restartmsd:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart mediaserverd</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to reset all your Mitsuha Forever preferences? This can not be undone.</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>label</key>
			<string>Restore default settings and respring</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View Source Code</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>conorthedev</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate to ConorTheDev</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>coldrain</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate to c0ldra1n</string>
			<key>subtitle</key>
			<string>Original Mitsuha + Mitsuha2 developer</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>nepeta</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate to Nepeta</string>
			<key>subtitle</key>
			<string>Original Mitsuha Infinity Developer</string>
			<key>cellClass</key>
			<string>CTDTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Mitsuha, Mitsuha2 by c0ldra1n,
MitsuhaXI, Mitsuha Infinity by Nepeta,  
Mitsuha Forever by ConorTheDev.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Mitsuha Forever</string>
</dict>
</plist>